In [98]:
#importing pandas library
import pandas as pd
import numpy as np

In [99]:
df = pd.read_csv("Aemf1.csv")

In [100]:
# To show the first 10 rows 
df.head(10)

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,Amsterdam,194.033698,Weekday,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,Amsterdam,344.245776,Weekday,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,Amsterdam,264.101422,Weekday,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,Amsterdam,433.529398,Weekday,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,Amsterdam,485.552926,Weekday,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677
5,Amsterdam,552.808567,Weekday,Private room,False,True,3.0,False,0,0,8.0,100.0,2,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376
6,Amsterdam,215.124317,Weekday,Private room,False,True,2.0,False,0,0,10.0,94.0,1,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251
7,Amsterdam,2771.307384,Weekday,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219
8,Amsterdam,1001.804420,Weekday,Entire home/apt,False,False,4.0,False,0,0,9.0,96.0,2,3.719141,1.196112,106.226456,5.624761,133.876202,9.328686
9,Amsterdam,276.521454,Weekday,Private room,False,True,2.0,False,1,0,10.0,88.0,1,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478

In [101]:
#To the amount of rows and columns in the data
df.shape

(41714, 19)

In [102]:
df.describe()

,Price,Person Capacity,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
count,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000
mean,260.094423,3.237235,0.295273,0.341180,9.442274,93.103179,1.165939,2.679792,0.603921,293.905990,11.719658,626.692618,25.553590
std,279.408493,1.299459,0.456171,0.474112,0.889173,8.141745,0.638157,1.996684,0.706206,235.750055,8.379161,520.644720,18.484572
min,34.779339,2.000000,0.000000,0.000000,2.000000,20.000000,0.000000,0.015045,0.002301,15.152201,0.926301,19.576924,0.592757
25%,144.016085,2.000000,0.000000,0.000000,9.000000,90.000000,1.000000,1.275913,0.236693,124.371614,5.510735,210.459574,11.132052
50%,203.819274,3.000000,0.000000,0.000000,10.000000,95.000000,1.000000,2.253237,0.391220,228.920599,9.951086,519.583509,21.814414
75%,297.373358,4.000000,1.000000,1.000000,10.000000,98.000000,1.000000,3.584489,0.678702,394.000201,15.467009,860.708156,36.821356
max,18545.450285,6.000000,1.000000,1.000000,10.000000,100.000000,10.000000,25.284557,14.273577,4513.563486,100.000000,6696.156772,100.000000

In [103]:
# ways to clean a dirty data(when a data is having a missing row)
# you either find the mean or median of that particular column or probably remove that row
df.isnull()

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41709,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41710,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41711,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41712,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41713,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [104]:
#The unfilled column or the column that is different 
df.isnull().sum()

City                           0
Price                          0
Day                            0
Room Type                      0
Shared Room                    0
Private Room                   0
Person Capacity                0
Superhost                      0
Multiple Rooms                 0
Business                       0
Cleanliness Rating             0
Guest Satisfaction             0
Bedrooms                       0
City Center (km)               0
Metro Distance (km)            0
Attraction Index               0
Normalised Attraction Index    0
Restraunt Index                0
Normalised Restraunt Index     0
dtype: int64

In [105]:
# ENCODING
df = pd.get_dummies(data=df,columns=["Room Type","Day", "Shared Room", "Superhost", "Business","City","Private Room","Person Capacity", "Multiple Rooms","Cleanliness Rating","Guest Satisfaction","Bedrooms"],drop_first = True)

In [106]:
df.head(15)

,Price,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index,Room Type_Private room,Room Type_Shared room,Day_Weekend,...,Guest Satisfaction_99.0,Guest Satisfaction_100.0,Bedrooms_1,Bedrooms_2,Bedrooms_3,Bedrooms_4,Bedrooms_5,Bedrooms_6,Bedrooms_9,Bedrooms_10
0,194.033698,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,True,False,False,...,False,False,True,False,False,False,False,False,False,False
1,344.245776,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,True,False,False,...,False,False,True,False,False,False,False,False,False,False
2,264.101422,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,True,False,False,...,False,False,True,False,False,False,False,False,False,False
3,433.529398,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,True,False,False,...,False,False,False,True,False,False,False,False,False,False
4,485.552926,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,True,False,False,...,False,False,True,False,False,False,False,False,False,False
5,552.808567,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376,True,False,False,...,False,True,False,True,False,False,False,False,False,False
6,215.124317,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251,True,False,False,...,False,False,True,False,False,False,False,False,False,False
7,2771.307384,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219,False,False,False,...,False,True,False,False,True,False,False,False,False,False
8,1001.804420,3.719141,1.196112,106.226456,5.624761,133.876202,9.328686,False,False,False,...,False,False,False,True,False,False,False,False,False,False
9,276.521454,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478,True,False,False,...,False,False,True,False,False,False,False,False,False,False
10,909.474375,1.009922,0.917115,409.858124,21.702260,555.114276,38.681161,False,False,False,...,False,False,True,False,False,False,False,False,False,False
11,319.640053,2.182707,1.590381,191.501339,10.140123,229.297401,15.977773,True,False,False,...,False,False,True,False,False,False,False,False,False,False
12,675.602840,2.933046,0.628073,214.923342,11.380334,269.624904,18.787851,False,False,False,...,False,False,True,False,False,False,False,False,False,False
13,552.808567,1.305494,1.342162,325.255952,17.222519,390.912052,27.239314,False,False,False,...,False,True,True,False,False,False,False,False,False,False
14,209.031472,7.304535,3.720814,59.776181,3.165188,75.701057,5.274959,True,False,False,...,False,False,True,False,False,False,False,False,False,False

In [107]:
from sklearn.preprocessing import MinMaxScaler

In [108]:
col= df.columns

In [109]:
scaler = MinMaxScaler()

In [110]:
scaler = scaler.fit_transform(df)

In [111]:
scaler
df=scaler

In [112]:
df = pd.DataFrame(df,columns=col)

In [113]:
df.head(10)

,Price,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index,Room Type_Private room,Room Type_Shared room,Day_Weekend,...,Guest Satisfaction_99.0,Guest Satisfaction_100.0,Bedrooms_1,Bedrooms_2,Bedrooms_3,Bedrooms_4,Bedrooms_5,Bedrooms_6,Bedrooms_9,Bedrooms_10
0,0.008603,0.198180,0.177775,0.014125,0.032707,0.011784,0.062910,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.016718,0.018732,0.016614,0.136943,0.327987,0.122473,0.580945,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.012389,0.226885,0.255711,0.013366,0.030882,0.011355,0.060900,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.021542,0.014635,0.030661,0.106286,0.254284,0.128128,0.607409,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.024352,0.020962,0.022170,0.119526,0.286115,0.119182,0.565541,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.027985,0.083752,0.133300,0.035487,0.084068,0.030798,0.151897,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.009743,0.073846,0.050973,0.041129,0.097631,0.033429,0.164208,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.147835,0.066157,0.102030,0.043050,0.102249,0.037854,0.184921,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0.052241,0.146584,0.083651,0.020246,0.047424,0.017119,0.087880,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.013060,0.123758,0.064613,0.042482,0.100884,0.032758,0.161072,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
# DATA SPLITTING 80% training and 20% testing
from sklearn.model_selection import train_test_split

In [115]:
X=df.drop(['Price'],axis=1)
y=df['Price']

In [116]:
# 80% - training set (X_train, y_train)
# 20% - test set (X_test, y_test)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=42)

In [117]:
X_train.head()

,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index,Room Type_Private room,Room Type_Shared room,Day_Weekend,Shared Room_True,...,Guest Satisfaction_99.0,Guest Satisfaction_100.0,Bedrooms_1,Bedrooms_2,Bedrooms_3,Bedrooms_4,Bedrooms_5,Bedrooms_6,Bedrooms_9,Bedrooms_10
17117,0.242199,0.055786,0.009249,0.009564,0.016403,0.052118,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6604,0.050704,0.011686,0.059852,0.098804,0.044860,0.041974,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20680,0.047318,0.042272,0.035850,0.049384,0.081523,0.312838,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
18760,0.069675,0.075936,0.026051,0.034751,0.056413,0.172300,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13988,0.046528,0.006855,0.039245,0.106034,0.068280,0.356211,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
# Create a new model
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Build the model using the traing data

In [119]:
model1 = LinearRegression()
model1 = model1.fit(X_train, y_train)

In [120]:
model2 = DecisionTreeRegressor()
model2 = model2.fit(X_train, y_train)

In [121]:
model3 = RandomForestRegressor()
model3 = model3.fit(X_train, y_train)

In [122]:
# predict category for the test inputs
y_test_predictions = model1.predict(X_test)
y_test_predictions = model2.predict(X_test)
y_test_predictions = model3.predict(X_test)

In [123]:
#import metrics model
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

# Calculate Metrics - MAE, MSE, and RMSE

In [124]:
predicted = model1.predict(X_test)

actual_vs_predicted = pd.DataFrame(
    {'Actual': y_test, 
     'Predicted':predicted}
)
# Show first 20 rows
actual_vs_predicted.head(20).round(2)

       Actual  Predicted
14125    0.00       0.00
36825    0.01       0.01
6890     0.01       0.02
24859    0.01       0.02
1808     0.04       0.04
21629    0.01       0.01
18491    0.00       0.00
32861    0.01       0.01
216      0.06       0.04
35560    0.01       0.01
30644    0.01       0.01
12337    0.01       0.01
41056    0.01       0.01
22921    0.02       0.02
33773    0.01       0.00
5262     0.01       0.01
21296    0.01       0.01
1503     0.06       0.04
38113    0.01       0.01
35260    0.01       0.00

In [125]:
predicted = model2.predict(X_test)

actual_vs_predicted = pd.DataFrame(
    {'Actual': y_test, 
     'Predicted':predicted}
)
# Show first 20 rows
actual_vs_predicted.head(20).round(2)

       Actual  Predicted
14125    0.00       0.00
36825    0.01       0.00
6890     0.01       0.01
24859    0.01       0.01
1808     0.04       0.03
21629    0.01       0.01
18491    0.00       0.01
32861    0.01       0.01
216      0.06       0.06
35560    0.01       0.00
30644    0.01       0.01
12337    0.01       0.01
41056    0.01       0.01
22921    0.02       0.01
33773    0.01       0.00
5262     0.01       0.01
21296    0.01       0.02
1503     0.06       0.06
38113    0.01       0.01
35260    0.01       0.01

In [126]:
predicted = model3.predict(X_test)

actual_vs_predicted = pd.DataFrame(
    {'Actual': y_test, 
     'Predicted':predicted}
)
# Show first 20 rows
actual_vs_predicted.head(20).round(2)

       Actual  Predicted
14125    0.00       0.01
36825    0.01       0.00
6890     0.01       0.01
24859    0.01       0.01
1808     0.04       0.03
21629    0.01       0.01
18491    0.00       0.01
32861    0.01       0.01
216      0.06       0.05
35560    0.01       0.01
30644    0.01       0.01
12337    0.01       0.01
41056    0.01       0.01
22921    0.02       0.02
33773    0.01       0.00
5262     0.01       0.01
21296    0.01       0.01
1503     0.06       0.06
38113    0.01       0.01
35260    0.01       0.01

In [127]:
MSE = mean_squared_error(
    y_true=y_test, # actual values
    y_pred=predicted # predicted values
)
MSE.round(2)

0.0

In [128]:
MAE = mean_squared_error(
    y_true=y_test, # actual values
    y_pred=predicted # predicted values
)
MAE.round(2)

0.0

In [129]:
# Square root of MSE gives RMSE
RMSE = MSE**(1/2)
RMSE.round(2)

0.01

In [145]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,predicted)
print(round(r2, 2))

0.43